@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

#card_container {
    font-family: "Bebas Neue", cursive;
    width: 489px;
    height: 308px;
    perspective: 1000px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    color: white;
}

#icon {
    img {
        width: 55px;
    }
}

#card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;

    &.flip {
        transform: rotateY(180deg);
    }
}

#card_front,
#card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

#card_back {
    background-color: #f3f4f3;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 32px;

    #black_line {
        width: 100%;
        height: 57px;
        background-color: black;
        margin-top: 32px;
    }

    #cvv {
        margin: 0 auto;
        height: 48px;
        background-color: white;
        text-align: right;
        width: 90%;
    }

    #closing_text {
        margin: 0 auto;
        width: 90%;
        font-size: 8px;
        font-family: "Open Sans", sans-serif;
        line-height: 5px;
    }
}

#card_front {
    transform: rotateY(180deg);

    background-image: url("../../media/credit-card-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;

    #placeholder {
        flex: 1;
    }

    & > * {
        margin: 0 32px;
    }

    #card_num {
        font-size: 32px;
        letter-spacing: 10.7px;
        height: 32px;
    }

    #card_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 32px;
        margin-top: 16px;
        letter-spacing: 5px;
    }
}
