body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
    display: inline-block;
    padding: 16px;
    border: 1px solid gray;
    width: auto;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 8px;
}

.column{
    display: flex;
    flex-direction: column;
}

label{
    text-align: start;
}
